
@{
    ViewData["Title"] = "View Appointments";
}
@model List<Appointment>

<div class="bg-info text-white p-2 d-flex justify-content-between align-items-center">
    <a class="nav-link text-white" asp-controller="Admin" asp-action="ViewAppointments">
        <h4 style="margin-top: 5px;">
            Appointments
        </h4>
    </a>
    <div class="d-flex">
        <div>
            <a class="nav-link text-white" asp-controller="Admin" asp-action="ViewAppointments">See All Appointments</a>
        </div>
    </div>
</div>

<table class="table table-sm table-striped table-hover" table-bordered>
    <thead>
        <tr>
            @*<th colspan="5" class="text-center">Appointments</th>*@
            <td>Appointment ID</td>
            <td>Group Name</td>
            <td>Group Size</td>
            <td>Available</td>
        </tr>
    </thead>
    <tbody>

        @foreach (Appointment a in Model)
        {
        <tr>

            <td>@a.AppointmentId</td>
            <td>@a.GroupName</td>
            <td>@a.GroupSize</td>
            <td>@a.Available</td>

            <td>
                <a class="nav-link text-dark btn btn-warning btn-sm" asp-area="" asp-controller="Admin" asp-action="Edit" asp-route-id="@a.AppointmentId">Edit</a>
                <a class="nav-link text-dark btn btn-warning btn-sm" asp-area="" asp-controller="Admin" asp-action="Delete" asp-route-id="@a.AppointmentId">Delete</a>
               
            </td>


        </tr>
        }
    </tbody>

</table>



<div>
    <div>For viewing all apointments along with edit and delete buttons</div>
    <div>Edit button will go to Appointment.cshtml</div>
</div>

